{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mt-4">Welcome, {{ user.name }}!</h2>
    <div class="mb-4">
        <a href="{% url 'create_organization' %}" class="btn btn-primary mr-2">Create Organization</a>
        {% if user.organizationmembers_set.exists %}
            <a href="{% url 'create_event' %}" class="btn btn-primary mr-2">Create Event</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>

    <h3 class="mt-4">Upcoming Events</h3>
    <div class="row event-container">
        {% for event in events %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ event.banner }}" class="card-img-top" alt="{{ event.event_name }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'event_detail' event.id %}" class="text-dark">{{ event.event_name }}</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h3 class="mt-4">Organizations</h3>
    <div class="row organization-container">
        {% for organization in organizations %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ organization.logo_photo_url }}" class="card-img-top" alt="{{ organization.name }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'organization_detail' organization.id %}" class="text-dark">{{ organization.name }}</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
